*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: #fff;
    
}
.check{
    background: #262626;
    
}

html{
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

    
}

.row{
    
    max-width: : 1140px;
    margin:0 auto;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),#000),url(img/wallpaper-start.jpg);
    width: 100%;
    height: 100vh;
    
}
h1{
    margin: 0;
    color: #fff;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}
.btn:link,.btn:visited
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 250px;
    color: #fff;
        transform: translate(50%, -50%);

}
.btn-pc:link,.btn-pc:visited{
    background-color: blue;
    border: 1px solid #000;
}
.btn-pc:hover,.btn-pc:active{
    
    background-color: darkblue;
}
.btn-and:link,.btn-and:visited{
    border: 1px solid #fff;
}
.btn-and:hover,.btn-and:active{
    
    background-color: #555;

}

.btn-top:link,.btn-top:visited
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 250px;
    color: #fff;
        transform: translate(440%, 0%);

}
.btn-top:link,.btn-top:visited{
    border: 1px solid #fff;
}
.btn-top:hover,.btn-top:active{
    
    background-color: #555;
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    
}
.my-nav{
    margin-top: 50px;
    float: right;
    list-style: none;
}
.my-nav li{
    display: inline-block;
    margin-right: 80px;
}
.my-nav li a:link,.my-nav li a:visited{
    padding: 4px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
     border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.my-nav li a:hover,.my-nav li a:active{
    border-bottom: 2px solid blue;
}
section{

 padding: 80px 0;   
}

h2,.intro-content,.container{
    line-height: 145%;
    width: 60%;
    margin-left: 15%;
}

body.content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    
}
.container .box{
    position: relative;

    transition: 0.5s;
}
.container .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    
}
.container .box .imgBx{
    position: absolute;
    top=0;
    left=0;
    width=100%;
    height=100%;
}
.container .box .imgBx:before{
    content: '';
    position: absolute;
    top=0;
    left=0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#f00,#000);
    mix-blend-mode: multiply;
    transition: 0.5s;
}
.container .box .imgBx img{
    position: absolute;
    top=0;
    left=0;
    width=100%;
    height=100%;
    object-fit: cover;
}
/*Footer */

footer{
    background-color: #111;
}
footer p{
    color: #888;
    text-align: center;
    font-size: 120%;
    margin-top: 130px;
    
}
